[Unit]
Description=ipfs daemon

[Service]
Environment=IPFS_PATH=/root/mybit/ipfs-eth-server/ipfs
ExecStart=/usr/local/bin/ipfs daemon
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
